<footer class="footer">
    <div class="container-fluid">
      <nav class="float-left">
        <ul>
          <li>
            <a href="https://www.centricdata.net" >
              CentricData
            </a>
          </li>
          <li>
            <a href="https://www.centricdata.net" >
              About Us
            </a>
          </li>
          
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, Developed by
        <a href="https://www.centricdata.net" target="_blank">CentricData</a> for a better web.
      </div>
    </div>
  </footer>
</div>
</div>
<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase.js"></script>
<script>
  var firebaseConfig = {
    apiKey: "AIzaSyB_FWRbwP_TtFeYQ8OXwj9WJuA2_wTqcrQ",
    authDomain: "farchis-bbe96.firebaseapp.com",
    databaseURL: "https://farchis-bbe96.firebaseio.com",
    projectId: "farchis-bbe96",
    storageBucket: "farchis-bbe96.appspot.com",
    messagingSenderId: "907377570025",
    appId: "1:907377570025:web:e51de55be0beaaedcec078",
    measurementId: "G-Y4SV39D0FF"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  </script>


  <script>
    $(document).ready(function() {
      
      const firestore = firebase.firestore()
       firestore.collection('tows').onSnapshot((snap)=>{
       var tows = [] 
       snap.forEach(tow=>{
        if(tow.data().received==false) 
        tows.push(tow)
      })
      if(tows.length>0){
        $.notify({
          icon: "add_alert",
          message: "You have new towing requests"
      
      },{
          type: 'danger',
          timer: 3000,
          placement: {
              from: "top",
              align: "right"
          }
      });
       }
       return document.getElementById("towing-badge").innerHTML=tows.length
    })
    firestore.collection('servs').onSnapshot((snap)=>{
      var servs = [] 
      snap.forEach(tow=>{
       if(tow.data().received==false) 
       servs.push(tow)
     })
     if(servs.length>0){
      $.notify({
        icon: "add_alert",
        message: "You have new quotation requests"
    
    },{
        type: 'warning',
        timer: 3000,
        placement: {
            from: "top",
            align: "right"
        }
    });
     }
      return document.getElementById("service-badge").innerHTML=servs.length
   })



    })
    
  </script>

<!--   Core JS Files   -->
<script src="js/core/jquery.min.js"></script>
<script src="js/core/popper.min.js"></script>
<script src="js/core/bootstrap-material-design.min.js"></script>
<script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!-- Plugin for the momentJs  -->
<script src="js/plugins/moment.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Forms Validations Plugin -->
<script src="js/plugins/jquery.validate.min.js"></script>
<!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src="js/plugins/jquery.bootstrap-wizard.js"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="js/plugins/bootstrap-selectpicker.js"></script>
<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script src="js/plugins/bootstrap-datetimepicker.min.js"></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
<script src="js/plugins/jquery.dataTables.min.js"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="js/plugins/bootstrap-tagsinput.js"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="js/plugins/jasny-bootstrap.min.js"></script>
<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script src="js/plugins/fullcalendar.min.js"></script>
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="js/plugins/jquery-jvectormap.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="js/plugins/nouislider.min.js"></script>
<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<!-- Library for adding dinamically elements -->
<script src="js/plugins/arrive.min.js"></script>
<script src="js/plugins/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chartist JS -->
<script src="js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<!-- <script src="demo/demo.js"></script> -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>



<script>
$(document).ready(function() {
  // Javascript method's body can be found in assets/js/demos.js
  md.initDashboardPageCharts();

});
</script>
</body>

</html>