<%- include('partials/header'); -%>

<div class="content">
    <div class="card">
        <div class="card-header card-header-primary d-flex justify-content-between align-content-center">
          <h4 class="card-title ">Administrator Accounts</h4>
           <a class="btn btn-success" href="/signup"><i class="material-icons">add_circle</i></a>
        </div>
   <div class="card-body">
    <table id="example" class="table " style="width:100%">
        <thead class="thead-light">
            <tr>
                <th>Email<i class="material-icons">swap_vert</i></th>
                <th>Action<i class="material-icons">swap_vert</i></th> 
            </tr>
        </thead>
        <tbody id='tbody'>
          <% userData.forEach(function(value,i) { %>
            <tr onClick="show()">
            <td><%= value.email %></td>
            <td onClick="deleteUser('<%= value.id %>')"><a class="btn btn-danger btn-sm text-white"><i class="material-icons">delete</i></a></td>
          </tr>
         <% }) %>
        </tbody>
        
    </table>
   </div>
   </div>
</div>
<script src="js/plugins/jquery-3.5.1.js"></script>
<script src="js/plugins/jquery.dataTables.min.js"></script>
<script src="js/plugins/jqueryui.min.js"></script>
<script src="js/plugins/rowGroup.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            order: [[2, 'asc']],
        } );
    } );

    $(document).ready(function() {
      navlinks= document.getElementsByClassName('nav-item'); 
      for(var i =0; i<navlinks.length; i++){
        var link = navlinks[i];
        link.className="nav-item"
      }
      document.getElementById('accounts').className='nav-item active'
   
     } );

    function  deleteUser(id){
      const data = { id };
      
      fetch('/accounts', {
        method: 'POST', // or 'PUT'
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      .then(response => response.json())
      .then(data => {
        swal('Success:'+ data.message )
        console.log('Success:' ,data, data.status);
        setTimeout(()=>{
          location.reload();
        },1500);
      })
      .catch((error) => {
        swal('Failed' + error.message)
        console.error('Error:', error.message);
        setTimeout(()=>{
          location.reload();
        },3000)
      });
          }





    
</script>


<%- include('partials/footer'); -%>