<%- include('partials/header'); -%>


<body class="" >
 
<div class="login mt-5 mb-5" >
  
    
</div>

<div class="card m-auto mt-5" style="width:40%;">
    <div class="card-header card-header-primary">
      <h4 class="card-title text-center">Create User</h4>
    </div>

    <div class="card-body">
        <!-- <div class=" card-profile">
        <div class="card-avatar mb-5  mt-2 p-0">
            <a >
              <img class="img m-0 p-0" src="img/faces/marc.jpg" />
            </a>
          </div>
        </div> -->  
      <form class="mb-5"  id="signup-form">
        <div class="text-center"> <img src="img/farchislogo.png"  style="width:200px; height:120px"></div>
        
            <div class="form-group">
              <label class="bmd-label-floating">Email Address</label>
              <input type="email" name='email' class="form-control-1">
             </div>
            <div class="form-group">
              <label class="bmd-label-floating">Password</label>
              <input type="password" name='password' class="form-control-1">
            </div>
            <div class="form-group">
                <label class="bmd-label-floating">Confirm Password</label>
                <input type="password" name='confirm' class="form-control-1">
              </div>
            <div class="d-flex mt-3">
                <button type="submit" class="btn btn-primary m-auto" style="width: 30%;"> Create</button>
            </div>
            <div id="error-div" class="text-danger text-center mt-3"></div>
      </form>
    </div>
    </div>
</div>
</div>
</div>


<!-- <script src="js/auth.js"></script> -->

<script>
  var form = document.querySelector('#signup-form')

  $(document).ready(function() {
    navlinks= document.getElementsByClassName('nav-item'); 
    for(var i =0; i<navlinks.length; i++){
      var link = navlinks[i];
      link.className="nav-item"
    }
    document.getElementById('accounts').className='nav-item active'
 
   } );

  form.addEventListener('submit',async(e)=>{
    e.preventDefault()
    const email = form.email.value
    const password = form.password.value
    const confirm_password = form.confirm.value
    if(password == confirm_password){
   try{
    const res = await fetch(
      '/signup',
      {
        method :'POST',
        body:JSON.stringify({email,password}),
        headers:{'Content-Type':'application/json'}  
      }
    )
    const data = await res.json();
    if(data.user){
        alert(data.message+ "  :" + data.user.email)
         form.email.value=''
         form.password.value=''
         form.confirm.value=''
    }
    console.log(data.message)
      if(data.message.failedError!==null){
          alert(data.message)
          return
      }
   }catch(err){
    console.log(err)
    document.getElementById('error-div').innerHTML=err.message
   }
}else{
    return alert(" failed password mismatch")
}
  })
</script>

<script src="js/core/jquery.min.js"></script>
<script src="js/core/popper.min.js"></script>
<script src="js/core/bootstrap-material-design.min.js"></script>
<script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>

</body>

</html>
